/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #3B3C36;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

.hero {
    background-color: #E0D4E0; /* Un fondo suave para el héroe */
    padding: 60px;
    text-align: center;
    position: relative;
}

.hero-content {
    position: relative;
    z-index: 2; /* Asegurar que el contenido esté por encima de otras capas */
}

.cta-button {
    background: #FFD700; /* Color de fondo para el botón */
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    background: #3B3C36;
    color: white;
}
